.page-top {
  position: relative; }
  .page-top:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 337px;
    background: url("../images/shadow.png") repeat-x center bottom; }

.header .logo {
  position: absolute;
  z-index: 19;
  left: 3.90625%;
  top: 39px;
  width: 71px; }

.pbanner {
  color: #fff; }
  .pbanner .txts {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 0;
    bottom: 0;
    z-index: 9; }
  .pbanner .en {
    margin-bottom: 10px;
    font-size: 16px; }
  .pbanner .ch {
    font-size: 62px; }
  .pbanner .text {
    margin-top: 27px;
    font-size: 20px;
    line-height: 1.4; }
  .pbanner .line {
    display: block;
    margin: 18px auto 0;
    width: 40px;
    height: 1px;
    background: #fff; }

.pnav {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 29;
  height: 62px;
  line-height: 24px; }
  .pnav ul {
    background: #cc332f;
    background: rgba(204, 51, 47, 0.9); }
  .pnav li {
    float: left;
    width: 25%; }
  .pnav a {
    display: block;
    padding: 19px 5px;
    text-align: center;
    color: #fff;
    font-size: 16px; }
    .pnav a.act {
      background: #fff;
      color: #cc332f; }
    @media screen and (min-width: 1025px) {
      .pnav a:hover {
        background: #fff;
        color: #cc332f; } }

.footer {
  background: #1f1f1f;
  padding: 40px 0 45px;
  color: #8f8f8f; }
  .footer a {
    color: #8f8f8f; }
    @media screen and (min-width: 1025px) {
      .footer a:not(.na):hover {
        color: #cc332f; } }
  .footer .f-ma {
    float: right;
    margin-left: 3.63636%; }
  .footer .f-cta {
    margin-bottom: 45px; }
  .footer .b {
    padding-top: 40px; }

.f-ma {
  width: 116px;
  color: #fff;
  line-height: 1.4;
  text-align: center; }
  .f-ma img {
    display: block;
    margin-bottom: 13px;
    width: 100%; }

.page-bg {
  background: #f2f2f2; }

.page-pa {
  padding-top: 90px;
  padding-bottom: 100px; }

.ab1 {
  background: #fff;
  padding-bottom: 120px; }
  .ab1 .ab-pic {
    width: 53.63636%;
    float: right;
    margin-left: 3.63636%; }
  .ab1 .txts {
    overflow: hidden; }
  .ab1 .ab-ti {
    margin-bottom: 40px; }

.ab-pic {
  position: relative; }
  .ab-pic .pai {
    padding-bottom: 73.89831%; }
  .ab-pic:before {
    content: "";
    position: absolute;
    top: 20px;
    left: 20px;
    bottom: -20px;
    right: -20px;
    background: #f2f2f2; }

.ab-ti {
  font-size: 30px;
  line-height: 1.4;
  color: #333; }

.ab2 .freeTx {
  width: 800px;
  margin: 40px auto 0; }

.ab2 .ab-impor {
  margin-top: 80px; }

.ab2 .ab-img-list {
  margin-top: 80px; }

.ab-impor {
  font-size: 18px;
  line-height: 1.4;
  color: #cc332f; }

.ab-img-list li {
  width: 33.33%;
  float: left; }

.ab-img-list .pai {
  padding-bottom: 67.93478%; }
