.ab-ti {
  font-size: 30px;
  line-height: 1.4;
  color: #333; }
  @media screen and (max-width: 641px) {
    .ab-ti {
      font-size: 26px; } }
  @media screen and (max-width: 481px) {
    .ab-ti {
      font-size: 22px; } }

.page-bg {
  background: #f2f2f2; }

.page-pa {
  padding-top: 90px;
  padding-bottom: 100px; }
  @media screen and (max-width: 1024px) {
    .page-pa {
      padding-top: 80px;
      padding-bottom: 90px; } }
  @media screen and (max-width: 601px) {
    .page-pa {
      padding-top: 13.33333vw;
      padding-bottom: 15vw; } }

.his-title .en {
  margin-bottom: 7px;
  font-size: 18px;
  color: #999; }

.his-title .ch {
  font-size: 48px;
  color: #cc332f; }

@media screen and (max-width: 1366px) {
  .his-title .ch {
    font-size: 40px; } }

@media screen and (max-width: 861px) {
  .his-title .ch {
    font-size: 32px; }
  .his-title .en {
    font-size: 16px; } }

@media screen and (max-width: 641px) {
  .his-title .ch {
    font-size: 26px; }
  .his-title .en {
    font-size: 14px; } }

@media screen and (max-width: 601px) {
  .his-title .en {
    margin-bottom: 1.16667%; } }

@media screen and (max-width: 481px) {
  .his-title .en {
    font-size: 12px; }
  .his-title .ch {
    font-size: 22px; } }

.news-date {
  position: relative;
  width: 58px;
  height: 66px;
  border: 1px solid #cc332f;
  border-radius: 10px;
  color: #cc332f;
  text-align: center;
  font-size: 12px;
  line-height: 1; }
  .news-date span {
    display: block; }
  .news-date .y {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 9px; }
  .news-date .d {
    padding-top: 9px;
    font-size: 30px; }

.news-dot {
  display: block;
  position: relative;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background: #ccc; }
  .news-dot:before, .news-dot:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    border-radius: 50%;
    background: #ccc; }
  .news-dot:before {
    margin-left: 3px; }
  .news-dot:after {
    margin-left: 10px; }

.pw2 {
  width: 930px;
  margin: 0 auto;
  max-width: 90%; }

.pro-title .ti {
  color: #333; }

.pro-title .ti1 {
  font-size: 24px; }

.pro-title .ti2 {
  margin-top: 6px;
  font-size: 16px; }

.pro-title .line {
  display: block;
  margin: 40px auto 0;
  width: 44px;
  height: 4px;
  background: #cc332f; }

@media screen and (max-width: 601px) {
  .pro-title .line {
    width: 7.33333vw;
    margin-top: 6.66667vw; } }

@media screen and (max-width: 481px) {
  .pro-title .ti1 {
    font-size: 22px; }
  .pro-title .ti2 {
    font-size: 14px; } }

.view-more {
  width: 148px;
  background: #cc332f;
  color: #fff;
  text-align: center;
  line-height: 40px;
  text-align: center; }
  @media screen and (min-width: 1025px) {
    .view-more:hover {
      background: #333; } }

.page-top {
  position: relative; }
  .page-top:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 337px;
    background: url("../images/shadow.png") repeat-x center bottom; }
    @media screen and (max-width: 1024px) {
      .page-top:after {
        display: none; } }

@media screen and (max-width: 1024px) {
  .header {
    position: fixed;
    z-index: 1010;
    left: 0;
    right: 0;
    top: 0;
    height: 60px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); } }

.header .logo {
  position: absolute;
  z-index: 19;
  left: 3.90625%;
  top: 39px;
  width: 71px; }
  @media screen and (max-width: 1024px) {
    .header .logo {
      top: -5px;
      left: 5%;
      transform-origin: left center;
      transform: scale(0.7); } }
  @media screen and (max-width: 1024px) {
    .header .logo > img {
      display: none; } }
  .header .logo .m {
    display: none; }
    @media screen and (max-width: 1024px) {
      .header .logo .m {
        display: block; } }

@media screen and (max-width: 1024px) {
  .mtop {
    height: 60px; } }

.menu-handler {
  background: #cc332f; }
  .menu-handler .burger {
    background: #fff; }
  @media screen and (max-width: 1024px) {
    .menu-handler {
      display: block; } }
  .menu-handler.active {
    background: none; }
    .menu-handler.active .burger {
      background: #cc332f; }

.navMobile a {
  display: block;
  padding: 0 5%;
  line-height: 1.4;
  text-align: center; }

.navMobile dd > a {
  border-bottom: 1px solid #ccc;
  padding-top: 17px;
  padding-bottom: 17px;
  font-size: 18px; }
  @media screen and (max-width: 481px) {
    .navMobile dd > a {
      padding-top: 14px;
      padding-bottom: 14px;
      font-size: 16px; } }
  .navMobile dd > a.act {
    background: #cc332f;
    color: #fff; }

.navMobile .mtv {
  padding: 10px 0;
  display: none;
  border-bottom: 1px solid #ccc; }
  .navMobile .mtv > a {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px; }
    @media screen and (max-width: 481px) {
      .navMobile .mtv > a {
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 14px; } }

.menu-slogan {
  padding: 0 5%;
  height: 200px;
  overflow: hidden;
  text-align: center; }
  .menu-slogan > img {
    vertical-align: bottom;
    max-width: 100%;
    transform-origin: center top;
    transform: scale(0.5); }

.menuBox .navMobile {
  padding-top: 80px;
  margin-bottom: 30px; }
  @media screen and (max-width: 481px) {
    .menuBox .navMobile {
      padding-top: 60px; } }

.pbanner {
  color: #fff; }
  .pbanner .txts {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 0;
    bottom: 0;
    z-index: 9; }
  .pbanner .en {
    margin-bottom: 10px;
    font-size: 16px; }
    @media screen and (max-width: 601px) {
      .pbanner .en {
        margin-bottom: 1.66667vw; } }
    @media screen and (max-width: 481px) {
      .pbanner .en {
        font-size: 14px; } }
  .pbanner .ch {
    font-size: 62px; }
    @media screen and (max-width: 1366px) {
      .pbanner .ch {
        font-size: 50px; } }
    @media screen and (max-width: 861px) {
      .pbanner .ch {
        font-size: 40px; } }
    @media screen and (max-width: 601px) {
      .pbanner .ch {
        font-size: 32px; } }
    @media screen and (max-width: 481px) {
      .pbanner .ch {
        font-size: 26px; } }
  .pbanner .text {
    margin-top: 27px;
    font-size: 20px;
    line-height: 1.4; }
    @media screen and (max-width: 1366px) {
      .pbanner .text {
        font-size: 18px; } }
    @media screen and (max-width: 861px) {
      .pbanner .text {
        display: none; } }
  .pbanner .line {
    display: block;
    margin: 18px auto 0;
    width: 40px;
    height: 1px;
    background: #fff; }
    @media screen and (max-width: 861px) {
      .pbanner .line {
        display: none; } }

.pnav {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 29;
  height: 62px;
  line-height: 24px; }
  @media screen and (max-width: 1024px) {
    .pnav {
      position: relative;
      height: 52px;
      border-bottom: 1px solid #ccc;
      overflow: hidden;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch; } }
  .pnav ul {
    background: #cc332f;
    background: rgba(204, 51, 47, 0.9); }
    @media screen and (max-width: 1024px) {
      .pnav ul {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        background: none;
        letter-spacing: -6px;
        text-align: center;
        white-space: nowrap; } }
  .pnav li {
    float: left;
    width: 25%; }
    @media screen and (max-width: 1024px) {
      .pnav li {
        display: inline-block;
        vertical-align: bottom;
        letter-spacing: 0;
        float: none;
        width: auto !important;
        padding: 0 15px; } }
  .pnav a {
    display: block;
    padding: 19px 5px;
    text-align: center;
    color: #fff;
    font-size: 16px; }
    @media screen and (max-width: 1024px) {
      .pnav a {
        position: relative;
        padding: 14px 15px;
        color: #333; }
        .pnav a:before {
          content: "";
          position: absolute;
          left: auto;
          right: 0;
          bottom: 0;
          width: 0;
          height: 4px;
          background: #cc332f;
          transition: 600ms;
          bottom: 0; } }
    .pnav a.act {
      background: #fff;
      color: #cc332f; }
      @media screen and (max-width: 1024px) {
        .pnav a.act:before {
          left: 0;
          right: auto;
          width: 100%; } }
    @media screen and (min-width: 1025px) {
      .pnav a:hover {
        background: #fff;
        color: #cc332f; } }

.news-page .pnav li {
  width: 50%; }

.footer {
  position: relative;
  background: #1f1f1f;
  padding: 40px 0 45px;
  color: #8f8f8f; }
  @media screen and (max-width: 601px) {
    .footer {
      padding: 6.66667vw 0 7.5vw; } }
  .footer a {
    color: #8f8f8f; }
    @media screen and (min-width: 1025px) {
      .footer a:not(.na):hover {
        color: #cc332f; } }
  .footer .f-ma {
    float: right;
    margin-left: 3.63636%; }
    @media screen and (max-width: 861px) {
      .footer .f-ma {
        display: none; } }
  .footer .f-cta {
    margin-bottom: 45px; }
    @media screen and (max-width: 601px) {
      .footer .f-cta {
        margin-bottom: 7.5vw; } }
  .footer .b {
    padding-top: 40px; }
    @media screen and (max-width: 601px) {
      .footer .b {
        padding-top: 6.66667vw; } }

.f-ma {
  width: 116px;
  color: #fff;
  line-height: 1.4;
  text-align: center; }
  .f-ma img {
    display: block;
    margin-bottom: 13px;
    width: 100%; }

#top {
  position: absolute;
  z-index: 299;
  right: 15px;
  bottom: 65px;
  line-height: 28px;
  font-size: 12px;
  cursor: pointer;
  transition: 300ms; }
  @media screen and (min-width: 1025px) {
    #top:hover {
      color: #cc332f; }
      #top:hover .icon {
        background: #cc332f;
        color: #fff; } }
  @media screen and (max-width: 1201px) {
    #top {
      position: fixed; }
      #top span {
        display: none; } }
  @media screen and (max-width: 641px) {
    #top {
      right: 10px;
      bottom: 10px; } }
  #top .icon {
    display: inline-block;
    vertical-align: bottom;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    margin-left: 8px;
    background: #666;
    text-align: center;
    color: #1f1f1f;
    font-size: 12px;
    transition: 300ms; }
    @media screen and (max-width: 1201px) {
      #top .icon {
        margin: 0;
        background: rgba(204, 51, 47, 0.9);
        color: #fff; } }

.ab1 {
  background: #fff; }
  .ab1 .ab-pic {
    width: 53.63636%;
    float: right;
    margin-left: 3.63636%; }
    @media screen and (max-width: 861px) {
      .ab1 .ab-pic {
        width: 50%; } }
    @media screen and (max-width: 641px) {
      .ab1 .ab-pic {
        width: 100%;
        margin: 0 0 50px;
        float: none; } }
    @media screen and (max-width: 601px) {
      .ab1 .ab-pic {
        margin-bottom: 8.33333vw; } }
    @media screen and (max-width: 481px) {
      .ab1 .ab-pic {
        margin-bottom: 6.66667vw; } }
  .ab1 .txts {
    overflow: hidden; }
  .ab1 .ab-ti {
    margin-bottom: 40px; }
    @media screen and (max-width: 601px) {
      .ab1 .ab-ti {
        margin-bottom: 6.66667vw; } }

.ab-pic {
  position: relative; }
  .ab-pic .pai {
    padding-bottom: 73.89831%; }
  .ab-pic:before {
    content: "";
    position: absolute;
    top: 20px;
    left: 20px;
    bottom: -20px;
    right: -20px;
    background: #f2f2f2; }
    @media screen and (max-width: 861px) {
      .ab-pic:before {
        top: 10px;
        left: 10px;
        bottom: -10px;
        right: -10px; } }
    @media screen and (max-width: 481px) {
      .ab-pic:before {
        display: none; } }

.ab2 .freeTx {
  width: 800px;
  max-width: 100%;
  margin: 40px auto 0; }
  @media screen and (max-width: 601px) {
    .ab2 .freeTx {
      margin-top: 6.66667vw; } }

.ab2 .ab-impor {
  margin-top: 80px; }
  @media screen and (max-width: 1024px) {
    .ab2 .ab-impor {
      margin-top: 60px; } }
  @media screen and (max-width: 601px) {
    .ab2 .ab-impor {
      margin-top: 10vw; } }

.ab2 .ab-img-list {
  margin-top: 80px; }
  @media screen and (max-width: 1024px) {
    .ab2 .ab-img-list {
      margin-top: 60px; } }
  @media screen and (max-width: 601px) {
    .ab2 .ab-img-list {
      margin-top: 10vw; } }

.ab-impor {
  font-size: 18px;
  line-height: 1.4;
  color: #cc332f; }
  @media screen and (max-width: 481px) {
    .ab-impor {
      font-size: 16px; } }

.ab-img-list li {
  width: 33.33%;
  float: left; }
  @media screen and (max-width: 641px) {
    .ab-img-list li {
      width: 50%; } }
  @media screen and (max-width: 481px) {
    .ab-img-list li {
      width: 100%; } }

.ab-img-list .pai {
  padding-bottom: 67.93478%; }

.cul-list {
  margin-left: -30px; }
  @media screen and (max-width: 861px) {
    .cul-list {
      margin-left: -20px; } }
  .cul-list li {
    width: 50%;
    float: left;
    margin-bottom: 30px; }
    @media screen and (max-width: 861px) {
      .cul-list li {
        margin-bottom: 20px; } }
    @media screen and (max-width: 641px) {
      .cul-list li {
        width: 100%; } }
  .cul-list .ma {
    margin-left: 30px;
    background: #f2f2f2;
    overflow: hidden;
    transition: 300ms; }
    @media screen and (min-width: 1025px) {
      .cul-list .ma:hover {
        background: #cc332f; }
        .cul-list .ma:hover .ti, .cul-list .ma:hover .text {
          color: #fff; } }
    @media screen and (max-width: 861px) {
      .cul-list .ma {
        margin-left: 20px; } }
  .cul-list .picbox {
    float: left;
    width: 50.46729%; }
  .cul-list .pai {
    padding-bottom: 111.11111%; }
  .cul-list .txts {
    padding: 18.69159% 5% 0;
    overflow: hidden; }
    @media screen and (max-width: 1024px) {
      .cul-list .txts {
        padding-top: 15%; } }
    @media screen and (max-width: 641px) {
      .cul-list .txts {
        padding-top: 18%; } }
    @media screen and (max-width: 481px) {
      .cul-list .txts {
        padding-top: 15%; } }
  .cul-list .ti {
    margin-bottom: 10px;
    color: #cc332f;
    transition: 300ms; }
  .cul-list .text {
    font-size: 16px;
    line-height: 1.4;
    color: #333;
    transition: 300ms; }
    @media screen and (max-width: 861px) {
      .cul-list .text {
        font-size: 14px; } }
    @media screen and (max-width: 641px) {
      .cul-list .text {
        font-size: 16px; } }

.ab5 {
  padding-bottom: 0; }
  .ab5 .his-title {
    margin-bottom: 50px; }
  @media screen and (max-width: 861px) {
    .ab5 {
      padding-bottom: 90px; } }
  @media screen and (max-width: 601px) {
    .ab5 {
      padding-bottom: 15vw; }
      .ab5 .his-title {
        margin-bottom: 8.33333vw; } }

.history-wrap {
  position: relative;
  padding: 9.09091% 0 3.63636% 0; }
  .history-wrap:before, .history-wrap:after {
    content: "";
    position: absolute; }
  .history-wrap:before {
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 1px solid #999; }
  .history-wrap:after {
    top: 0;
    left: 50%;
    margin-left: -15px;
    width: 19px;
    height: 19px;
    border-radius: 100%;
    background: #cc332f;
    border: 6px solid #fff;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.3); }
  @media screen and (max-width: 861px) {
    .history-wrap {
      padding: 0; }
      .history-wrap:before, .history-wrap:after {
        display: none; } }

.history-list li {
  width: 50%;
  float: right; }

.history-list .history-item {
  position: relative;
  padding: 0 45px 0 35px;
  margin-bottom: 50px; }
  .history-list .history-item:before, .history-list .history-item:after {
    content: "";
    position: absolute; }
  .history-list .history-item:after {
    top: 50px;
    right: -6px;
    width: 11px;
    height: 11px;
    border-radius: 100%;
    background: #cc332f; }
  .history-list .history-item:before {
    top: 55px;
    right: 0;
    width: 38px;
    height: 1px;
    background: #999; }

.history-list .le .history-item {
  padding: 0 35px 0 45px; }
  .history-list .le .history-item:after {
    right: auto;
    left: -5px; }
  .history-list .le .history-item:before {
    right: auto;
    left: 1px; }

.history-list .ri {
  padding-top: 9.54545%; }

@media screen and (max-width: 1024px) {
  .history-list .history-item {
    padding-left: 0; }
  .history-list .le .history-item {
    padding-right: 0; } }

@media screen and (max-width: 861px) {
  .history-list {
    display: none; } }

.history-item .txts {
  padding: 40px;
  background: #fff;
  transition: 300ms; }

.history-item .ti {
  margin-bottom: 15px;
  line-height: 36px;
  font-size: 20px;
  color: #cc332f;
  transition: 300ms; }

.history-item .year {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 15px;
  font-size: 36px; }

@media screen and (min-width: 1025px) {
  .history-item:hover .txts {
    background: #cc332f;
    color: #fff; }
  .history-item:hover .ti {
    color: #fff; } }

@media screen and (max-width: 861px) {
  .history-item {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1); }
    .history-item + .history-item {
      margin-top: 50px; }
    .history-item .txts {
      padding-left: 5%;
      padding-right: 5%; }
    .history-item .ti {
      line-height: 32px; }
    .history-item .year {
      font-size: 32px; } }

@media screen and (max-width: 601px) {
  .history-item .txts {
    padding-top: 6.66667vw;
    padding-bottom: 6.66667vw; }
  .history-item + .history-item {
    margin-top: 8.33333vw; }
  .history-item .ti {
    margin-bottom: 2.5vw;
    line-height: 26px;
    font-size: 16px; }
  .history-item .year {
    font-size: 26px; } }

@media screen and (max-width: 601px) {
  .history-item .ti {
    font-size: 14px;
    line-height: 22px; }
  .history-item .year {
    margin-right: 10px;
    font-size: 22px; } }

.nw1 .news-list {
  margin-bottom: 35px; }
  @media screen and (max-width: 601px) {
    .nw1 .news-list {
      margin-bottom: 5.83333vw; } }

.nw2 .ti {
  font-size: 20px;
  color: #333; }
  .nw2 .ti span {
    display: block;
    font-size: 26px; }

.nw2 .date {
  margin-top: 27px;
  font-size: 12px;
  color: #999; }

.nw2 .freeTx {
  border-top: 1px solid #ccc;
  padding: 40px 0 190px;
  margin-top: 30px; }

@media screen and (max-width: 601px) {
  .nw2 .date {
    margin-top: 4.5vw; }
  .nw2 .freeTx {
    padding: 6.66667vw 0 31.66667vw;
    margin-top: 5vw; } }

@media screen and (max-width: 481px) {
  .nw2 .ti {
    font-size: 18px; }
    .nw2 .ti span {
      font-size: 22px; } }

.news-list {
  margin-left: -25px; }
  .news-list li {
    width: 33.33%;
    float: left;
    margin-bottom: 35px; }
  .news-list .news-item {
    margin-left: 25px; }
  @media screen and (max-width: 861px) {
    .news-list li {
      width: 50%; } }
  @media screen and (max-width: 601px) {
    .news-list {
      margin-left: -15px; }
      .news-list li {
        margin-bottom: 5.83333vw; }
      .news-list .news-item {
        margin-left: 15px; } }
  @media screen and (max-width: 481px) {
    .news-list li {
      width: 100%; } }

.news-item {
  display: block;
  border: 1px solid #ccc; }
  .news-item .title {
    height: 126px;
    padding: 30px 25px 0; }
  .news-item .news-date {
    float: left;
    margin-right: 25px; }
  .news-item .ti {
    font-size: 16px;
    color: #333;
    line-height: 24px !important;
    max-height: 48px;
    margin-top: 9px;
    overflow: hidden; }
  .news-item .picbox {
    background: #999;
    color: #fff;
    transition: 300ms; }
  .news-item .pai {
    padding-bottom: 58.57143%;
    transition: 300ms; }
  .news-item .tx {
    position: absolute;
    left: 30px;
    right: 30px;
    top: 30px;
    box-sizing: content-box;
    height: 72px;
    padding-top: 25px; }
    .news-item .tx:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 78px;
      height: 1px;
      background: #fff; }
  .news-item .b {
    height: 80px;
    padding: 28px 25px 0; }
  .news-item .name {
    float: left;
    line-height: 24px;
    color: #cc332f; }
  .news-item .news-dot {
    float: left;
    margin: 10px 0 0 20px; }
  @media screen and (min-width: 1025px) {
    .news-item:hover .picbox {
      background: #cc332f; }
    .news-item:hover .pai {
      opacity: 0;
      visibility: hidden; } }
  @media screen and (max-width: 1024px) {
    .news-item .news-date {
      margin-right: 20px; } }
  @media screen and (max-width: 601px) {
    .news-item .title {
      height: 106px;
      padding: 20px 15px 0; }
    .news-item .news-date {
      margin-right: 15px; }
    .news-item .ti {
      font-size: 15px; }
    .news-item .tx {
      left: 15px;
      right: 15px;
      top: 5vw;
      padding-top: 3.33333vw; }
      .news-item .tx:before {
        width: 13vw; }
    .news-item .b {
      height: 60px;
      padding: 18px 15px 0; } }
  @media screen and (max-width: 481px) {
    .news-item .b, .news-item .title {
      padding-left: 5%;
      padding-right: 5%; }
    .news-item .tx {
      left: 5%;
      right: 5%;
      top: 30px;
      padding-top: 20px; }
    .news-item .ti {
      font-size: 16px; } }

.pager a {
  width: 44px;
  height: 42px;
  border: 1px solid #ccc;
  margin: 0 5px;
  line-height: 40px;
  font-size: 16px; }
  .pager a.act {
    background: #cc332f;
    border-color: #cc332f;
    color: #fff; }

.pager .arrow {
  width: 72px;
  margin: 0 15px;
  font-size: 14px; }

@media screen and (min-width: 1025px) {
  .pager:hover a {
    background: #cc332f;
    border-color: #cc332f;
    color: #fff; } }

@media screen and (max-width: 481px) {
  .pager a, .pager .arrow {
    margin: 0 1px; }
  .pager a {
    width: 40px;
    font-size: 14px; }
  .pager .arrow {
    width: 60px;
    font-size: 12px; } }

.news-back {
  border-top: 1px solid #ccc;
  padding-top: 40px; }
  .news-back a {
    display: block;
    width: 120px;
    line-height: 38px;
    text-align: center;
    font-size: 16px;
    white-space: nowrap; }
    @media screen and (min-width: 1025px) {
      .news-back a:hover {
        background: #cc332f;
        color: #fff; } }
  .news-back .back {
    margin: 0 auto;
    overflow: hidden; }
  .news-back .prev {
    float: left; }
    .news-back .prev .icon {
      margin-right: 10px; }
  .news-back .next {
    float: right; }
    .news-back .next .icon {
      margin-left: 10px; }
  .news-back .arrow {
    background: #999;
    color: #fff; }
  .news-back .icon {
    display: inline-block;
    vertical-align: bottom; }
  @media screen and (max-width: 1024px) {
    .news-back .arrow {
      background: #cc332f; } }
  @media screen and (max-width: 601px) {
    .news-back {
      padding-top: 6.66667%; } }
  @media screen and (max-width: 481px) {
    .news-back a {
      width: 90px;
      font-size: 14px; }
    .news-back .icon {
      font-size: 14px; }
    .news-back .prev .icon {
      margin-right: 5px; }
    .news-back .next .icon {
      margin-left: 5px; } }

.step-list li {
  width: 86px;
  margin: 0 4.54545%; }
  @media screen and (min-width: 1025px) {
    .step-list li:hover .icobox:before {
      transform: none;
      opacity: 1;
      visibility: visible; }
    .step-list li:hover .ico {
      background-position: center bottom; } }

.step-list .icobox {
  position: relative;
  height: 86px;
  border-radius: 50%;
  border: 1px solid #cc332f; }
  .step-list .icobox:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    background: #cc332f;
    transform: scale(1.3);
    opacity: 0;
    visibility: hidden;
    transition: 300ms; }

.step-list .ico {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -40px 0 0 -40px;
  width: 80px;
  height: 80px;
  transition: 300ms; }

.step-list .name {
  margin-top: 15px;
  font-size: 16px; }

@media screen and (max-width: 861px) {
  .step-list {
    text-align: left;
    padding: 0 5%; }
    .step-list li {
      width: 25%;
      margin: 20px 0 0;
      text-align: center; }
    .step-list .icobox {
      width: 86px;
      margin: 0 auto; } }

@media screen and (max-width: 641px) {
  .step-list .icobox {
    width: 76px;
    height: 76px; }
  .step-list .ico {
    transform: scale(0.8); }
  .step-list .name {
    font-size: 14px; } }

@media screen and (max-width: 601px) {
  .step-list .name {
    margin-top: 2.5vw; }
  .step-list .icobox {
    width: 66px;
    height: 66px; }
  .step-list .ico {
    transform: scale(0.7); } }

@media screen and (max-width: 481px) {
  .step-list {
    padding: 0; }
    .step-list .icobox {
      width: 50px;
      height: 50px; }
    .step-list .ico {
      transform: scale(0.5); }
    .step-list .name {
      font-size: 12px;
      margin-top: 2vw; } }

.pro1 .freeTx {
  width: 890px;
  max-width: 100%;
  margin: 40px auto 0; }

.pro1 .step-list {
  margin-top: 80px; }

@media screen and (max-width: 861px) {
  .pro1 .step-list {
    margin-top: 40px; } }

@media screen and (max-width: 601px) {
  .pro1 .freeTx {
    margin-bottom: 6.66667vw; }
  .pro1 .step-list {
    margin-top: 6.66667vw; } }

.pro2 .pro-title {
  margin-bottom: 40px; }

.pro2 .case-list {
  margin-top: 70px; }

.pro2 .more {
  margin-top: 45px; }

@media screen and (max-width: 601px) {
  .pro2 .pro-title {
    margin-bottom: 6.66667vw; }
  .pro2 .case-list {
    margin-top: 11.66667vw; }
  .pro2 .more {
    margin-top: 7.5vw; } }

.pro3 {
  padding-bottom: 0; }
  .pro3 .achi-list {
    margin-bottom: 20px;
    margin-top: 80px; }
  @media screen and (max-width: 1366px) {
    .pro3 .achi-list {
      margin-bottom: 40px; } }

.pro-nav a {
  width: 186px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background: #333;
  color: #fff;
  line-height: 46px;
  text-align: center;
  font-size: 16px; }
  .pro-nav a.act {
    background: #cc332f; }
  @media screen and (min-width: 1025px) {
    .pro-nav a:hover {
      background: #cc332f; } }

@media screen and (max-width: 1024px) {
  .pro-nav {
    text-align: left; }
    .pro-nav a {
      width: 20%; } }

@media screen and (max-width: 861px) {
  .pro-nav a {
    width: 33.33%; } }

@media screen and (max-width: 601px) {
  .pro-nav a {
    font-size: 14px; } }

@media screen and (max-width: 481px) {
  .pro-nav a {
    width: 50%;
    line-height: 40px; } }

.case-list {
  margin-left: -25px; }
  .case-list li {
    width: 33.33%;
    float: left;
    margin-bottom: 25px; }
  .case-list .case-item {
    margin-left: 25px; }
  @media screen and (max-width: 861px) {
    .case-list li {
      width: 50%; } }
  @media screen and (max-width: 601px) {
    .case-list {
      margin-left: -15px; }
      .case-list li {
        margin-bottom: 4.16667%; }
      .case-list .case-item {
        margin-left: 15px; } }
  @media screen and (max-width: 481px) {
    .case-list li {
      width: 100%; } }

.case-item {
  display: block;
  position: relative; }
  .case-item .pai {
    padding-bottom: 75.35411%; }
  .case-item .nowti {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../images/black5.png);
    color: #fff;
    line-height: 54px;
    text-align: center; }
  @media screen and (max-width: 601px) {
    .case-item .nowti {
      line-height: 44px; } }
  @media screen and (max-width: 481px) {
    .case-item .nowti {
      line-height: 54px; } }

.achi-list {
  margin-left: -50px; }
  .achi-list li {
    width: 33.33%;
    float: left;
    margin-bottom: 50px; }
  .achi-list .achi-item {
    margin-left: 50px; }
  @media screen and (max-width: 1366px) {
    .achi-list {
      margin-left: -30px; }
      .achi-list .achi-item {
        margin-left: 30px; }
      .achi-list li {
        margin-bottom: 30px; } }

.achi-item {
  border: 1px solid #ccc;
  height: 330px;
  padding: 45px 30px 0;
  overflow: hidden; }
  .achi-item .icobox {
    position: relative;
    width: 68px;
    height: 68px;
    margin: 0 auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }
  .achi-item .ico {
    position: absolute;
    width: 68px;
    height: 68px;
    top: 50%;
    left: 50%;
    margin: -34px 0 0 -34px; }
  .achi-item .ti {
    font-size: 18px;
    color: #333;
    margin-top: 14px; }
  .achi-item .text {
    margin-top: 30px; }
