.ab-ti {
  font-size: 30px;
  line-height: 1.4;
  color: #333; }
  @media screen and (max-width: 641px) {
    .ab-ti {
      font-size: 26px; } }
  @media screen and (max-width: 481px) {
    .ab-ti {
      font-size: 22px; } }

.page-bg {
  background: #f2f2f2; }

.page-pa {
  padding-top: 90px;
  padding-bottom: 100px; }
  @media screen and (max-width: 1024px) {
    .page-pa {
      padding-top: 80px;
      padding-bottom: 90px; } }
  @media screen and (max-width: 601px) {
    .page-pa {
      padding-top: 13.33333vw;
      padding-bottom: 15vw; } }

.page-top {
  position: relative; }
  .page-top:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 337px;
    background: url("../images/shadow.png") repeat-x center bottom; }
    @media screen and (max-width: 1024px) {
      .page-top:after {
        display: none; } }

@media screen and (max-width: 1024px) {
  .header {
    position: fixed;
    z-index: 1010;
    left: 0;
    right: 0;
    top: 0;
    height: 60px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); } }

.header .logo {
  position: absolute;
  z-index: 19;
  left: 3.90625%;
  top: 39px;
  width: 71px; }
  @media screen and (max-width: 1024px) {
    .header .logo {
      top: -5px;
      left: 5%;
      transform-origin: left center;
      transform: scale(0.7); } }
  @media screen and (max-width: 1024px) {
    .header .logo > img {
      display: none; } }
  .header .logo .m {
    display: none; }
    @media screen and (max-width: 1024px) {
      .header .logo .m {
        display: block; } }

@media screen and (max-width: 1024px) {
  .mtop {
    height: 60px; } }

.menu-handler {
  background: #cc332f; }
  .menu-handler .burger {
    background: #fff; }
  @media screen and (max-width: 1024px) {
    .menu-handler {
      display: block; } }
  .menu-handler.active {
    background: none; }
    .menu-handler.active .burger {
      background: #cc332f; }

.navMobile a {
  display: block;
  padding: 0 5%;
  line-height: 1.4;
  text-align: center; }

.navMobile dd > a {
  border-bottom: 1px solid #ccc;
  padding-top: 17px;
  padding-bottom: 17px;
  font-size: 18px; }
  @media screen and (max-width: 481px) {
    .navMobile dd > a {
      padding-top: 14px;
      padding-bottom: 14px;
      font-size: 16px; } }
  .navMobile dd > a.act {
    background: #cc332f;
    color: #fff; }

.navMobile .mtv {
  padding: 10px 0;
  display: none;
  border-bottom: 1px solid #ccc; }
  .navMobile .mtv > a {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px; }
    @media screen and (max-width: 481px) {
      .navMobile .mtv > a {
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 14px; } }

.menu-slogan {
  padding: 0 5%;
  height: 200px;
  overflow: hidden;
  text-align: center; }
  .menu-slogan > img {
    vertical-align: bottom;
    max-width: 100%;
    transform-origin: center top;
    transform: scale(0.5); }

.menuBox .navMobile {
  padding-top: 80px;
  margin-bottom: 30px; }
  @media screen and (max-width: 481px) {
    .menuBox .navMobile {
      padding-top: 60px; } }

.pbanner {
  color: #fff; }
  .pbanner .txts {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 0;
    bottom: 0;
    z-index: 9; }
  .pbanner .en {
    margin-bottom: 10px;
    font-size: 16px; }
    @media screen and (max-width: 601px) {
      .pbanner .en {
        margin-bottom: 1.66667vw; } }
    @media screen and (max-width: 481px) {
      .pbanner .en {
        font-size: 14px; } }
  .pbanner .ch {
    font-size: 62px; }
    @media screen and (max-width: 1366px) {
      .pbanner .ch {
        font-size: 50px; } }
    @media screen and (max-width: 861px) {
      .pbanner .ch {
        font-size: 40px; } }
    @media screen and (max-width: 601px) {
      .pbanner .ch {
        font-size: 32px; } }
    @media screen and (max-width: 481px) {
      .pbanner .ch {
        font-size: 26px; } }
  .pbanner .text {
    margin-top: 27px;
    font-size: 20px;
    line-height: 1.4; }
    @media screen and (max-width: 1366px) {
      .pbanner .text {
        font-size: 18px; } }
    @media screen and (max-width: 861px) {
      .pbanner .text {
        display: none; } }
  .pbanner .line {
    display: block;
    margin: 18px auto 0;
    width: 40px;
    height: 1px;
    background: #fff; }
    @media screen and (max-width: 861px) {
      .pbanner .line {
        display: none; } }

.pnav {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 29;
  height: 62px;
  line-height: 24px; }
  @media screen and (max-width: 1024px) {
    .pnav {
      position: relative;
      height: 52px;
      border-bottom: 1px solid #ccc;
      overflow: hidden;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch; } }
  .pnav ul {
    background: #cc332f;
    background: rgba(204, 51, 47, 0.9); }
    @media screen and (max-width: 1024px) {
      .pnav ul {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        background: none;
        letter-spacing: -6px;
        text-align: center;
        white-space: nowrap; } }
  .pnav li {
    float: left;
    width: 25%; }
    @media screen and (max-width: 1024px) {
      .pnav li {
        display: inline-block;
        vertical-align: bottom;
        letter-spacing: 0;
        float: none;
        width: auto !important;
        padding: 0 15px; } }
  .pnav a {
    display: block;
    padding: 19px 5px;
    text-align: center;
    color: #fff;
    font-size: 16px; }
    @media screen and (max-width: 1024px) {
      .pnav a {
        position: relative;
        padding: 14px 15px;
        color: #333; }
        .pnav a:before {
          content: "";
          position: absolute;
          left: auto;
          right: 0;
          bottom: 0;
          width: 0;
          height: 4px;
          background: #cc332f;
          transition: 600ms;
          bottom: 0; } }
    .pnav a.act {
      background: #fff;
      color: #cc332f; }
      @media screen and (max-width: 1024px) {
        .pnav a.act:before {
          left: 0;
          right: auto;
          width: 100%; } }
    @media screen and (min-width: 1025px) {
      .pnav a:hover {
        background: #fff;
        color: #cc332f; } }

.footer {
  position: relative;
  background: #1f1f1f;
  padding: 40px 0 45px;
  color: #8f8f8f; }
  @media screen and (max-width: 601px) {
    .footer {
      padding: 6.66667vw 0 7.5vw; } }
  .footer a {
    color: #8f8f8f; }
    @media screen and (min-width: 1025px) {
      .footer a:not(.na):hover {
        color: #cc332f; } }
  .footer .f-ma {
    float: right;
    margin-left: 3.63636%; }
    @media screen and (max-width: 861px) {
      .footer .f-ma {
        display: none; } }
  .footer .f-cta {
    margin-bottom: 45px; }
    @media screen and (max-width: 601px) {
      .footer .f-cta {
        margin-bottom: 7.5vw; } }
  .footer .b {
    padding-top: 40px; }
    @media screen and (max-width: 601px) {
      .footer .b {
        padding-top: 6.66667vw; } }

.f-ma {
  width: 116px;
  color: #fff;
  line-height: 1.4;
  text-align: center; }
  .f-ma img {
    display: block;
    margin-bottom: 13px;
    width: 100%; }

#top {
  position: absolute;
  z-index: 299;
  right: 15px;
  bottom: 65px;
  line-height: 28px;
  font-size: 12px;
  cursor: pointer;
  transition: 300ms; }
  @media screen and (min-width: 1025px) {
    #top:hover {
      color: #cc332f; }
      #top:hover .icon {
        background: #cc332f;
        color: #fff; } }
  @media screen and (max-width: 1201px) {
    #top {
      position: fixed; }
      #top span {
        display: none; } }
  @media screen and (max-width: 641px) {
    #top {
      right: 10px;
      bottom: 10px; } }
  #top .icon {
    display: inline-block;
    vertical-align: bottom;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    margin-left: 8px;
    background: #666;
    text-align: center;
    color: #1f1f1f;
    font-size: 12px;
    transition: 300ms; }
    @media screen and (max-width: 1201px) {
      #top .icon {
        margin: 0;
        background: rgba(204, 51, 47, 0.9);
        color: #fff; } }

.ab1 {
  background: #fff; }
  .ab1 .ab-pic {
    width: 53.63636%;
    float: right;
    margin-left: 3.63636%; }
    @media screen and (max-width: 861px) {
      .ab1 .ab-pic {
        width: 50%; } }
    @media screen and (max-width: 641px) {
      .ab1 .ab-pic {
        width: 100%;
        margin: 0 0 50px;
        float: none; } }
    @media screen and (max-width: 601px) {
      .ab1 .ab-pic {
        margin-bottom: 8.33333vw; } }
    @media screen and (max-width: 481px) {
      .ab1 .ab-pic {
        margin-bottom: 6.66667vw; } }
  .ab1 .txts {
    overflow: hidden; }
  .ab1 .ab-ti {
    margin-bottom: 40px; }
    @media screen and (max-width: 601px) {
      .ab1 .ab-ti {
        margin-bottom: 6.66667vw; } }

.ab-pic {
  position: relative; }
  .ab-pic .pai {
    padding-bottom: 73.89831%; }
  .ab-pic:before {
    content: "";
    position: absolute;
    top: 20px;
    left: 20px;
    bottom: -20px;
    right: -20px;
    background: #f2f2f2; }
    @media screen and (max-width: 861px) {
      .ab-pic:before {
        top: 10px;
        left: 10px;
        bottom: -10px;
        right: -10px; } }
    @media screen and (max-width: 481px) {
      .ab-pic:before {
        display: none; } }

.ab2 .freeTx {
  width: 800px;
  max-width: 100%;
  margin: 40px auto 0; }
  @media screen and (max-width: 601px) {
    .ab2 .freeTx {
      margin-top: 6.66667vw; } }

.ab2 .ab-impor {
  margin-top: 80px; }
  @media screen and (max-width: 1024px) {
    .ab2 .ab-impor {
      margin-top: 60px; } }
  @media screen and (max-width: 601px) {
    .ab2 .ab-impor {
      margin-top: 10vw; } }

.ab2 .ab-img-list {
  margin-top: 80px; }
  @media screen and (max-width: 1024px) {
    .ab2 .ab-img-list {
      margin-top: 60px; } }
  @media screen and (max-width: 601px) {
    .ab2 .ab-img-list {
      margin-top: 10vw; } }

.ab-impor {
  font-size: 18px;
  line-height: 1.4;
  color: #cc332f; }
  @media screen and (max-width: 481px) {
    .ab-impor {
      font-size: 16px; } }

.ab-img-list li {
  width: 33.33%;
  float: left; }
  @media screen and (max-width: 641px) {
    .ab-img-list li {
      width: 50%; } }
  @media screen and (max-width: 481px) {
    .ab-img-list li {
      width: 100%; } }

.ab-img-list .pai {
  padding-bottom: 67.93478%; }

.cul-list {
  margin-left: -30px; }
  @media screen and (max-width: 861px) {
    .cul-list {
      margin-left: -20px; } }
  .cul-list li {
    width: 50%;
    float: left;
    margin-bottom: 30px; }
    @media screen and (max-width: 861px) {
      .cul-list li {
        margin-bottom: 20px; } }
    @media screen and (max-width: 641px) {
      .cul-list li {
        width: 100%; } }
  .cul-list .ma {
    margin-left: 30px;
    background: #f2f2f2;
    overflow: hidden;
    transition: 300ms; }
    @media screen and (min-width: 1025px) {
      .cul-list .ma:hover {
        background: #cc332f; }
        .cul-list .ma:hover .ti, .cul-list .ma:hover .text {
          color: #fff; } }
    @media screen and (max-width: 861px) {
      .cul-list .ma {
        margin-left: 20px; } }
  .cul-list .picbox {
    float: left;
    width: 50.46729%; }
  .cul-list .pai {
    padding-bottom: 111.11111%; }
  .cul-list .txts {
    padding: 18.69159% 5% 0;
    overflow: hidden; }
    @media screen and (max-width: 1024px) {
      .cul-list .txts {
        padding-top: 15%; } }
    @media screen and (max-width: 641px) {
      .cul-list .txts {
        padding-top: 18%; } }
    @media screen and (max-width: 481px) {
      .cul-list .txts {
        padding-top: 15%; } }
  .cul-list .ti {
    margin-bottom: 10px;
    color: #cc332f;
    transition: 300ms; }
  .cul-list .text {
    font-size: 16px;
    line-height: 1.4;
    color: #333;
    transition: 300ms; }
    @media screen and (max-width: 861px) {
      .cul-list .text {
        font-size: 14px; } }
    @media screen and (max-width: 641px) {
      .cul-list .text {
        font-size: 16px; } }

.history-list {
  position: relative;
  padding-top: 100px;
  overflow: hidden; }
  .history-list:before, .history-list:after {
    content: "";
    position: absolute; }
  .history-list:before {
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 1px solid #999; }
  .history-list:after {
    top: 0;
    left: 50%;
    margin-left: -15px;
    width: 19px;
    height: 19px;
    border-radius: 100%;
    background: #cc332f;
    border: 6px solid #fff;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.3); }
  .history-list li {
    position: relative;
    width: 50%;
    float: right;
    padding: 0 45px 0 35px;
    margin-bottom: 50px; }
    .history-list li:before, .history-list li:after {
      content: "";
      position: absolute; }
    .history-list li:after {
      top: 50px;
      right: -6px;
      width: 11px;
      height: 11px;
      border-radius: 100%;
      background: #cc332f; }
    .history-list li:before {
      top: 55px;
      right: 0;
      width: 38px;
      height: 1px;
      background: #999; }
    .history-list li:nth-child(2) {
      margin-top: 9.54545%; }
  .history-list .item1 {
    clear: both;
    padding: 0 35px 0 45px; }
    .history-list .item1:after {
      right: auto;
      left: -5px; }
    .history-list .item1:before {
      right: auto;
      left: 1px; }
  .history-list .txts {
    padding: 40px;
    background: #fff; }
  .history-list .ti {
    margin-bottom: 15px;
    line-height: 36px;
    font-size: 20px;
    color: #cc332f; }
  .history-list .year {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 15px;
    font-size: 36px; }
