.ab1{
    background: #fff;
    .ab-pic{
        width: (590 / 1100) * 100%;
        float: right;
        margin-left: (40 / 1100) * 100%;
        @media screen and (max-width:861px) {
            width: 50%;
        }
        @media screen and (max-width:641px) {
            width: 100%;
            margin: 0 0 50px;
            float: none;
        }
        @media screen and (max-width:601px) {
            margin-bottom: (50 / 600) * 100vw;
        }
        @media screen and (max-width:481px) {
            margin-bottom: (40 / 600) * 100vw;
        }
    }
    .txts{
        overflow: hidden;
    }
    .ab-ti{
        margin-bottom: 53px - 13px;
        @media screen and (max-width:601px) {
            margin-bottom: (40 / 600) * 100vw;
        }
    }
}

.ab-pic{
    position: relative;
    .pai{
        padding-bottom: (436 / 590) * 100%;
    }
    &:before{
        @include ba;
        top: 20px;
        left: 20px;
        bottom: -20px;
        right: -20px;
        background: $hc3;
        @media screen and (max-width:861px) {
            top: 10px;
            left: 10px;
            bottom: -10px;
            right: -10px;
        }
        @media screen and (max-width:481px) {
           display: none;
        }
    }
}

.ab2{
    .freeTx{
        width: 800px;
        max-width: 100%;
        margin: 40px auto 0;
        @media screen and (max-width:601px) {
            margin-top: (40 / 600) * 100vw;
        }
    }
    .ab-impor{
        margin-top: 80px;
        @media screen and (max-width:1024px) {
            margin-top: 60px;
        }
        @media screen and (max-width:601px) {
            margin-top: (60 / 600) * 100vw;
        }
    }
    .ab-img-list{
        margin-top: 80px;
        @media screen and (max-width:1024px) {
            margin-top: 60px;
        }
        @media screen and (max-width:601px) {
            margin-top: (60 / 600) * 100vw;
        }
    }
}

.ab-impor{
    font-size: 18px;
    line-height: 1.4;
    color: $mc1;
    @media screen and (max-width:481px) {
        font-size: 16px;
    }
}

.ab-img-list{
    li{
        width: 33.33%;
        float: left;
        @media screen and (max-width:641px) {
            width: 50%;
        }
        @media screen and (max-width:481px) {
            width: 100%;
        }
    }
    .pai{
        padding-bottom: (250 / 368) * 100%;
    }
}

.cul-list{
    margin-left: -30px;
    @media screen and (max-width:861px) {
        margin-left: -20px;
    }
    li{
        width: 50%;
        float: left;
        margin-bottom: 30px;
        @media screen and (max-width:861px) {
            margin-bottom: 20px;
        }
        @media screen and (max-width:641px) {
            width: 100%;
        }
    }
    .ma{
        margin-left: 30px;
        background: $hc3;
        overflow: hidden;
        @include mt3;
        @media screen and (min-width:1025px) {
            &:hover{
                background: $mc1;
                .ti, .text{
                    color: #fff;
                }
            }
        }
        @media screen and (max-width:861px) {
            margin-left: 20px;
        }
    }
    .picbox{
        float: left;
        width: (270 / 535) * 100%;
    }
    .pai{
        padding-bottom: (300 / 270) * 100%;
    }
    .txts{
        padding: (100 / 535) * 100% 5% 0;
        overflow: hidden;
        @media screen and (max-width:1024px) {
            padding-top: 15%;
        }
        @media screen and (max-width:641px) {
            padding-top: 18%;
        }
        @media screen and (max-width:481px) {
            padding-top: 15%;
        }
    }
    .ti{
        margin-bottom: 10px;
        color: $mc1;
        @include mt3;
    }
    .text{
        font-size: 16px;
        line-height: 1.4;
        color: $fc1;
        @include mt3;
        @media screen and (max-width:861px) {
            font-size: 14px;
        }
        @media screen and (max-width:641px) {
            font-size: 16px;
        }
    }
}
