.case1{
    .case-list{
        margin-bottom: 70px - 25px;
        @media screen and (max-width:601px) {
            margin-bottom: 7.5vw;
        }
    }
}

.case2{
    .ti{
        font-size: 28px;
        color: $fc1;
    }
    .freeTx{
        margin-top: 45px;
        padding-bottom: 120px;
        
    }
    @media screen and (max-width:601px) {
        .ti{
            font-size: 24px;
        } 
        .freeTx{
            margin-top: 7.5vw;
            padding-bottom: (120 / 600) * 100vw;
        }
    }
    @media screen and (max-width:601px) {
        .ti{
            font-size: 22px;
        } 
    }
}