@charset "utf-8";
//主颜色
$mc1: #cc332f;
$mco1: rgba(204,51,47,.9);
$mco2: rgba(204,51,47,.7);
$mc2: #cb5e5d;
//字体颜色
$fc1: #333;
$fc2: #666;
$fc3: #999;
// 灰色背景值
$hc1: #ccc; //bodr
$hc2: #e5e5e5; // 90
$hc3: #f2f2f2; // 95
$hc4: #1f1f1f; // 12
$hc5: #8f8f8f; // 56
