.footer{
    position: relative;
    background: $hc4;
    padding: 40px 0 45px;
    color: $hc5;
    @media screen and (max-width:601px) {
        padding: (40 / 600) * 100vw 0 7.5vw;
    }
    a{
        color: $hc5;
        @media screen and (min-width:1025px) {
            &:not(.na):hover{
                color: $mc1;
            }
        }
    }
    .f-ma{
        float: right;
        margin-left: (40 / 1100) * 100%;
        @media screen and (max-width:861px) {
            display: none;
        }
    }
    .f-cta{
        margin-bottom: 59px - 14px;
        @media screen and (max-width:601px) {
            margin-bottom: 7.5vw;
        }
    }
    .b{
        padding-top: 40px;
        @media screen and (max-width:601px) {
            padding-top: (40 / 600) * 100vw;
        }
    }
}
.f-ma{
    width: 116px;
    color: #fff;
    line-height: 1.4;
    text-align: center;
    img{
        display: block;
        margin-bottom: 13px;
        width: 100%;
    }
}
#top{
    position: absolute;
    z-index: 299;
    right: 15px;
    bottom: 65px;
    line-height: 28px;
    font-size: 12px;
    cursor: pointer;
    @include mt3;
    @media screen and (min-width:1025px) {
        &:hover{
            color: $mc1;
            .icon{
                background: $mc1;
                color: #fff;
            }
        }
    }
    @media screen and (max-width:1201px) {
        position: fixed;
        span{
            display: none;
        }
    }
    @media screen and (max-width:641px) {
        right: 10px;
        bottom: 10px;
    }
    .icon{
        display: inline-block;
        vertical-align: bottom;
        @include c(28px);
        margin-left: 8px;
        background: #666;
        text-align: center;
        color: $hc4;
        font-size: 12px;
        @include mt3;
        @media screen and (max-width:1201px) {
            margin: 0;
            background: $mco1;
            color: #fff;
        }
    }
}