.footer{
    background: $hc4;
    padding: 40px 0 45px;
    color: $hc5;
    a{
        color: $hc5;
        @media screen and (min-width:1025px) {
            &:not(.na):hover{
                color: $mc1;
            }
        }
    }
    .f-ma{
        float: right;
        margin-left: (40 / 1100) * 100%;
    }
    .f-cta{
        margin-bottom: 59px - 14px;
    }
    .b{
        padding-top: 40px;
    }
}
.f-ma{
    width: 116px;
    color: #fff;
    line-height: 1.4;
    text-align: center;
    img{
        display: block;
        margin-bottom: 13px;
        width: 100%;
    }
}