.page-top{
    position: relative;
    &:after{
        @include ba;
        left: 0;
        right: 0;
        top: 0;
        height: 337px;
        background: url('../images/shadow.png') repeat-x center bottom;
        @media screen and (max-width:1024px) {
            display: none;
        }
    }
}

.header{
    @media screen and (max-width:1024px) {
        position: fixed;
        z-index: 1010;
        left: 0;
        right: 0;
        top: 0;
        height: 60px;
        background: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    }
    .logo{
        position: absolute;
        z-index: 19;
        left: (75 / 1920) * 100%;
        top: 39px;
        width: 71px;
        @media screen and (max-width:1366px) {
            top: 29px;
        }
        @media screen and (max-width:1024px) {
            top: -5px;
            left: 5%;
            transform-origin: left center;
            transform: scale(.7);
        }
        > img{
            @media screen and (max-width:1024px) {
                display: none;
            }
        }
        .m{
            display: none;
            @media screen and (max-width:1024px) {
                display: block;
            }
        }
    }
}

.mtop{
    @media screen and (max-width:1024px) {
        height: 60px;
    }
}

.menu-handler{
    background: $mc1;
    .burger{
        background: #fff;
    }
    @media screen and (max-width:1024px) {
        display: block;
    }
    &.active{
        background: none;
        .burger{
            background: $mc1;
        }
    }
}

.menuBox{
    top: 0;
    right: -53.8%;
    width: 53.8%;
    padding: (145 / 1920) * 100% 145px 0 75px;
    line-height: 24px;
    display: none;
    .menu-slogan{
        position: absolute;
        top: 30px;
        right: 30px;
    }
    dd{
        overflow: hidden;
        padding: 33px 0 23px;
        border-bottom: 1px solid $hc1;
        > a{
            float: left;
            width: 150px;
            font-size: 24px;
            color: $fc1;
        }
        .mtv{
            overflow: hidden;
            > a{
                float: left;
                margin: 0 38px 10px 0;
                font-size: 16px;
            }
        }
    }
    .close{
        position: absolute;
        z-index: 99;
        top: (60 / 1030) * 100%;
        left: 45px;
        width: 29px;
        height: 29px;
        background: url('../images/close.png') no-repeat center;
        @include mt4;
        @media screen and (min-width:1025px) {
            &:hover{
                transform: rotate(180deg);
            }
        }
    }
    a{
        @media screen and (min-width:1025px) {
            &:hover{
                color: $mc1;
            }
        } 
    }
    @media screen and (max-width:1366px) {
        padding-left: 55px;
        .close{
            left: 25px;
        }
        dd{
            padding: 23px 0 13px;
            > a{
                width: 120px;
                font-size: 20px;
            }
            .mtv{
                > a{
                    margin-right: 30px;
                    font-size: 14px;
                }
            }
        }
    }
    @media screen and (max-width:1024px) {
        width: 100%;
        top: -100%;
        right: 0;
        padding: 82px 0 0;
        .menu-slogan{
            position: static;
            text-align: center;
            margin-top: 30px;
        }
        dd{
            padding: 0;
            text-align: center;
            a{
                display: block;
            }
            > a{
                float: none;
                padding: (60px - 24px) / 2 5%;
                width: 100%;
                font-size: 18px;
                &.act{
                    background: $mc1;
                    color: #fff;
                }
            }
            .mtv{
                padding: 10px 5%;
                display: none;
                > a{
                    float: none;
                    margin: 0;
                    padding: (40px - 24px) / 2 0;
                    font-size: 16px;
                }
            }
        }
        .close{
            left: 5%;
            top: 40px;
        }
    }
    @media screen and (max-width:481px) {
        padding-top: 62px;
        .close{
            top: 15px;
            transform-origin: left center;
            transform: scale(.7);
        }
    }
}

.menuBlack{
    @media screen and (max-width:1024px) {
        display: none;
    }
}

.menu-slogan{
    img{
        max-width: 100%;
        vertical-align: bottom;
    }
}

.nav{
    position: absolute;
    right: (188 / 1920) * 100%;
    top: 39px + 23px;
    z-index: 19;
    line-height: 24px;
    @media screen and (max-width:1366px) {
        top: 29px + 23px;
    }
    li{
        float: left;
        + li{
            margin-left: 42px;
            @media screen and (max-width:1366px) {
                margin-left: 37px;
            }
        }
        > a{
            color: #fff;
            font-size: 16px;
            @media screen and (min-width:1025px) {
                &:hover{
                    color: $mc1;
                }
            }
            @media screen and (max-width:1366px) {
                font-size: 14px;
            }
        }
    }
    @media screen and (max-width:1024px) {
        display: none;
    }
}

.nav-btn{
    position: absolute;
    z-index: 19;
    right: (95 / 1920) * 100%;
    top: 39px + 25px;
    width: 30px;
    height: 20px;
    cursor: pointer;
    span{
        position: absolute;
        right: 0;
        width: 100%;
        height: 2px;
        background: #fff;
        @include mt3;
    }
    .l1{
        top: 0;
        animation: long 1.2s linear alternate infinite both;
    }
    .l2{
        top: 9px;
        animation: long 1.2s .2s linear alternate infinite both;
    }
    .l3{
        top: 18px;
        animation: long 1.2s .4s linear alternate infinite both;
    }
    @media screen and (min-width:1025px) {
        &:hover{
            span{
                background: $mc1;
            }
        }
    }
    @media screen and (max-width:1366px) {
        top: 29px + 25px;
    }
    @media screen and (max-width:1024px) {
        display: none;
    }
}

@keyframes long{
    0%{ width: 10px; }
    100%{ width: 100%; }
}