.slick-arrow{
    font-family: "iconfont" !important;
    text-align: center;
    font-size: 16px;
}

.slick-prev{
    &:before{
        content: "\e660";
    }
}

.slick-next{
    &:before{
        content: "\e65f";
    }
}

.case-arrow{
    .slick-arrow{
        margin-top: -(54px / 2);
        @include c(54px);
        @include b5;
        background: rgba(0,0,0,.5);
        line-height: 54px;
        color: #fff;
        @media screen and (min-width:1025px) {
            &:hover{
                background: $mc1;
            }
        }
    }
    .slick-prev{
        left: 25px;
    }
    .slick-next{
        right: 25px;
    }
    @media screen and (max-width:1024px) {
        .slick-prev{
            left: 5%;
        }
        .slick-next{
            right: 5%;
        }
    }
    @media screen and (max-width:861px) {
        .slick-arrow{
            margin-top: -(44px / 2);
            width: 44px;
            height: 44px;
            line-height: 44px;
            font-size: 14px;
        }
    }
    @media screen and (max-width:481px) {
        .slick-arrow{
            margin-top: -(36px / 2);
            width: 36px;
            height: 36px;
            line-height: 36px;
            font-size: 12px;
        }
    }
}